[Unit]
Description=Qualcomm QRTR Name Service
After=systemd-modules-load.service
Before=multi-user.target

[Service]
Type=simple
ExecStart=/usr/sbin/qrtr-ns
Restart=on-failure

[Install]
WantedBy=multi-user.target
