[Unit]
Description=Qualcomm Remote Filesystem Service (Xiaomi Mi Pad 5 Pro)
After=xiaomi-elish-qrtr-ns.service
Requires=xiaomi-elish-qrtr-ns.service
ConditionPathExists=/usr/sbin/rmtfs

[Service]
Type=simple
ExecStart=/usr/sbin/rmtfs
Restart=on-failure

[Install]
WantedBy=multi-user.target
